In [5]:
#test
import mysql.connector
try:
    connection = mysql.connector.connect (host = "172.16.199.140",
                                  user = "1930026136", # use your username
                                  passwd = "dsbaoganren", # use your password
                                  db = "test") # specify the database
                    

    cursor = connection.cursor()
    cursor.execute ("SELECT VERSION()")
    row = cursor.fetchone()
    print("server version:", row[0])
except mysql.connector.Error as msg:
    print(msg)
except:
    print("Exception.")
finally:
    if (connection.is_connected()):
        cursor.close()
        connection.close() # DO NOT forget to close the connection.
        print("MySQL connection is closed")

server version: 5.6.50-log
MySQL connection is closed

In [32]:
#create car
import mysql.connector
connection = mysql.connector.connect (host = "172.16.199.140",
                                user = "1930026136", # use your username
                                passwd = "dsbaoganren",# use your password
                                db = "test")  # specify the database
cursor = connection.cursor()
cursor.execute ("DROP TABLE IF EXISTS car1")
sql_command = """
CREATE TABLE car1 ( 
carID INTEGER PRIMARY KEY, 
brand VARCHAR(20), 
model VARCHAR(30),
volume FLOAT,
gearbox VARCHAR(20),
original_price FLOAT,
price FLOAT, 
year INTEGER,
age INTEGER,
mileage FLOAT,
horsepower INTEGER,
torque INTEGER,
transfer_number INTEGER,
fuel FLOAT,
image VARCHAR(200)
);"""
cursor.execute(sql_command)

In [29]:
#insert car(from csv)
import pandas as pd
from sqlalchemy import create_engine

data = pd.read_csv(r"C:\Users\lenovo\Desktop\aud.csv", index_col = 0)  #去除index

engine = create_engine('mysql://1930026136:dsbaoganren@172.16.199.140/test?charset=utf8', encoding='utf-8')  #转UTF-8
#pandas.io.sql.to_sql(data, 'car', con=engine, schema='car', if_exists='fail' )
data.to_sql( 'car', con=engine, if_exists='append')  # 数据写入数据库

In [52]:
#insert car(from excel)
import pandas as pd
from sqlalchemy import create_engine

data = pd.read_excel(r"C:\Users\lenovo\Desktop\data.xlsx", index_col = 0)  #去除index

engine = create_engine('mysql://1930026136:dsbaoganren@172.16.199.140/test?charset=utf8', encoding='utf-8')  #转UTF-8
#pandas.io.sql.to_sql(data, 'car', con=engine, schema='car', if_exists='fail' )
data.to_sql( 'car', con=engine, if_exists='append')  # 数据写入数据库

In [1]:
#insert seller to car
import mysql.connector
connection = mysql.connector.connect (host = "172.16.199.140",
                                user = "1930026136", # use your username
                                passwd = "dsbaoganren",# use your password
                                db = "test")  # specify the database
cursor = connection.cursor()
sql_command = """ALTER TABLE car ADD seller VARCHAR(30);"""
cursor.execute(sql_command)

In [ ]:
#设置car中seller为外键：
import mysql.connector
connection = mysql.connector.connect (host = "172.16.199.140",
                                user = "1930026136", # use your username
                                passwd = "dsbaoganren",# use your password
                                db = "test")  # specify the database
cursor = connection.cursor()
sql_command = """Alter table car add constraint constraint_name foreign key(seller) references user(username);"""
cursor.execute(sql_command)
connection.commit()

In [20]:
#update seller's data to car
import mysql.connector
connection = mysql.connector.connect (host = "172.16.199.140",
                                user = "1930026136", # use your username
                                passwd = "dsbaoganren",# use your password
                                db = "test")  # specify the database
cursor = connection.cursor()
sql_command = """update car set seller='Toyota manufacturer' where brand='丰田'"""
cursor.execute(sql_command)
connection.commit()    #针对更新操作